.App {
  text-align: center;
  /* background-color: black; */
  background-image: url("https://wallpaperaccess.com/full/1104823.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reg-form{
  margin: auto;
  width: 40%;
  text-align: left;
  /* border: solid;
  padding: 2%; */
}
.form-error{
  color:red;
}
.go-back{
  position: relative;
  left:68%;
}
.admin-dashboard{
  margin: 3%;
  margin-top: 1%;
}
.dashboard-btn{
  margin:1%;
}
#register-button{
  display: inline-block;
  position: absolute;
  margin: 20px;
  right:2%
}
.nav-bar{
  background-color:#d71e28;
  border-bottom: 4px solid #ffcd41;
}
.nav-bar-brand{
  font-weight: bold;
}
.foot-text{
  color:#a8a6a6;
  font-style: oblique;
  font-size: 90%;
}
.footer-section{
  position:relative;
  bottom:0;
  width:100%;
  background-color:rgb(24, 23, 23);
  border-top: 1px solid white;
  /* border-radius: 2%; */
  line-height: 1.3;
  padding-top: 15px;
  /* height: 20%; */
  
}
.footer-left{
  position:relative; left:11%;
}


.user-dashboard{
  margin: auto !important;
  display: flex;
  justify-content: center;
}

.user-card{
  margin: 20px;
  padding: 15px;
}

/* view loan page */
.view-loan{
  margin-top: 20px;
}

.pass{
  color:green !important;
}

.fail{
  color:red !important;
}


/* apply loan page */
.loan-form{
  margin: auto;
  margin-top: 20px;
}
.admin-heading{
  display: inline-block;
}
.sub-heading{
  margin:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
